
/* GLOBAL */

html{
    scroll-behavior: smooth;
}

*{
    padding: 0;
    margin: 0;
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
}

body{
    background-color: #f4f0e8;
}



.mainContainer{
    background-color: #f9fbff;
    width: 94%;
    height: 60vh;
    margin-top: 20vh;
    margin-left: 3%;
    box-shadow: #777 3px 5px 5px;
    position: relative;
    min-height: 450px;
    border-radius: 5px;
}

p{
    line-height: 1.5;
    padding: 50px 7% 20px 7%;
    word-spacing: 2px;
    font-size: 24px;
}

input[type=email], button{
    background-color: #f9fbff;
    width: 100%;
    display: inline-block;
    box-sizing: border-box;
    padding: 10px 5px;
    margin-bottom: 12px;
    font-size: 18px;
}

input[type=email]{
    border: 0;
    border-bottom: 1px #444 solid;
}

.smallContainer button{
    cursor: pointer;
    margin-top: 3vh;
}

.smallContainer{
    width: 86%;
    margin-left: 7%;
    height: 20vh;
    margin-top: 3vh;
    display: flex;
    flex-direction: column;
}


input:focus{
    background-color: #f4f0e8;
    outline: 0;
    border-bottom: 1px solid #444;
    box-sizing: border-box;
}

@media only screen and (max-width: 325px){
    p{
        font-size: 20px;
    }
}