*{
  padding: 0;
  margin: 0;
}

html{
  font-family: 'Courier New', Courier, monospace;
}

body{
  background-color: #f4f0e8;
}

#menuToggle{
    display: block;
    position: fixed;
    right: 30px;
    top: 30px;
    -webkit-user-select: none;
    user-select: none;
    z-index: 1;
}
#menuToggle input{
    z-index: 2;
    opacity: 0;
    cursor: pointer;
    display: block;
    -webkit-touch-callout: none;
    width: 40px;
    height: 32px;
    position: absolute;
    top: -7px;
    left: -5px;
}
#menuToggle span{
    display: block;
    width: 33px;
    height: 4px;
    margin-bottom: 5px;
    position: relative;
    background-color: #444;
    z-index: 1;

    transform-origin: 4px 0px;
  
    transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
                background 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
                opacity 0.5s ease;
}
#menuToggle span:first-child{
  transform-origin: 0% 0%;
}

#menuToggle span:nth-last-child(2){
  transform-origin: 0% 100%;
}
#menuToggle input:checked ~ span{
  opacity: 1;
  transform: rotate(45deg) translate(-2px, -1px);
  background: #444;
}
#menuToggle input:checked ~ span:nth-last-child(2){
    transform: rotate(-45deg) translate(0, -1px);
  }
#menuToggle input:checked ~ span:nth-last-child(3){
  opacity: 0;
  transform: rotate(0deg) scale(0.2, 0.2);
}
#menu
{
  position: fixed;
  width: 380px;
  top: 0;
  right: -650px;
  height: 100vh;
  padding: 30px;
  padding-top: 125px;
  
  background: #f9fbff;
  box-shadow: #777 20px 0 60px;
  opacity: 1;
  list-style-type: none;
  -webkit-font-smoothing: antialiased;
  
  transform-origin: center;
  
  transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0);
}
#menu a{
    color: #333;
    text-decoration: none;
    font-size: 24px;
    font-weight: 500;
}
#menu li{
    padding: 10px 0px;
}

#menuToggle input:checked ~ ul{
    transform: translateX(-90%);
}