
/* GLOBAL */

html{
    scroll-behavior: smooth;
}

*{
    padding: 0;
    margin: 0;
    font-family: 'Courier New', Courier, monospace;
}

body{
    background-color: #f4f0e8;
}

.mainContainer{
    background-color: #f9fbff;
    width: 94%;
    height: 60vh;
    margin-top: 20vh;
    margin-left: 3%;
    box-shadow: #777 3px 5px 5px;
    position: relative;
    min-height: 450px;
}

h1{
    transform: translate(-50%,120%);
    margin-left: 50%;
    text-align: center;
    font-size: 36px;
    width: 100%;
}

input[type=text], input[type=password], input[type=email], button{
    background-color: #f9fbff;
    width: 100%;
    display: inline-block;
    box-sizing: border-box;
    padding: 10px 5px;
    margin-bottom: 12px;
    font-size: 18px;
}

input[type=text], input[type=password], input[type=email]{
    border: 0;
    border-bottom: 1px #444 solid;
}

.smallContainer button{
    cursor: pointer;
    margin-top: 20px;
}

label{
    margin-left: 15px;
    margin-top: 10px;
    nav-index: 4;
}


.smallContainer{
    width: 86%;
    margin-left: 7%;
    height: 20vh;
    margin-top: 12vh;
    display: flex;
    flex-direction: column;
}

input:focus{
    background-color: #f4f0e8;
    outline: 0;
    border-bottom: 1px solid #444;
    box-sizing: border-box;
}

input[type=checkbox]{
    appearance: none;
    background-color: #f4f0e8;
    border: 1px solid #444;
    height: 16px;
    width: 16px;
    transform: translateY(3px);
}

input[type=checkbox]:checked{
    background-color: #333;
}

.registerInfoContainer{
    left: 10vw;
    bottom: 20px;
    position: absolute;
    z-index: 1;
    bottom: 22vh;

}

#registerBtn{
    cursor: pointer;
    opacity: 0;
    z-index: 2;
    width: 155px;
    height: 40px;
    left: 10vw;
    position: absolute;
    bottom: 22vh;
    nav-index: 5;
}

.registerContainer{
    transform: translateX(100vw);
    position: fixed !important;
    top: 20vh;
    margin-top: 0;
    opacity: 1;
    z-index: 3;
}

.registerContainer input{
    margin-top: 10px;
}

.registerContainer button{
    margin-top: 30px;
}

#registerBtn:checked ~ .mainContainer{
    transition: transform 400ms cubic-bezier(.51,0,.1,.98);
    transform: translateX(-100vw);
}

#registerBtn:checked ~ .registerContainer{
    display: block;
    transform: translateX(0vw);
    transition: all 400ms cubic-bezier(.51,0,.1,.98);
}

#registerBtn:checked ~ input[type=email]{
    nav-index: 1;
}

@media only screen and (max-height: 700px) {
    #registerBtn{
        bottom: 18vh;
    }
    .registerInfoContainer{
        bottom: 18vh;
    }
  }

@media only screen and (max-height: 650px) {
    #registerBtn{
        bottom: 13vh;
    }
    .registerInfoContainer{
        bottom: 13vh;
    }
  }

@media only screen and (max-height: 600px) {
    #registerBtn{
        bottom: 8vh;
    }
    .registerInfoContainer{
        bottom: 8vh;
    }
  }