
/* GLOBAL */

html{
    scroll-behavior: smooth;
}

*{
    padding: 0;
    margin: 0;
    font-family: 'Roboto', sans-serif;
}

body{
    background-color: #e4eaed;
}



.mainContainer{
    position: fixed;
    background-color: #f9fbff;
    width: 320px;
    height: 125px;
    left: calc(50% - 160px);
    top: 30vh;
    box-shadow: #777 2px 2px 5px;
    position: relative;
    border-radius: 5px;
}

p{
    line-height: 1.5;
    padding: 20px;
    word-spacing: 2px;
    font-size: 26px;
    font-weight: 300;
    text-align: center;
}