html{
    scroll-behavior: smooth;
}

*{
    padding: 0;
    margin: 0;
    font-family: 'Roboto', sans-serif;
}

body{
    background: center  center no-repeat fixed url(../Images/man-hands-palm-praying-worship-cross-eucharist-therapy-bless-god-helping-hope-faith-christian-religion-concept-raising-up-162020217.jpg);
    background-size: cover;
}   

h1{
    font-weight: 500;
    font-size: 30px;
    font-weight: 400;
    margin: 10px 0  5px 0;
}
p{
    font-size: 18px;
    font-weight: 300;
}

#mainFooter{
    position: fixed;
    bottom: 0;
    width: 100vw;
    height: 150px;
    backdrop-filter: blur(10px) brightness(60%);
    color: #fff;
}

#mainFooter, x:-moz-any-link {
    background-color: rgba(0,0,0,.2);
}

.container{
    width: 90%;
    margin-left: 5%;
    height: 100%;
}
#tip{
    position: fixed;
    bottom: 5px;
    right: 10px;
    opacity: .7;
    font-weight: 200;
}